:root {
  --border-radius: 0px;
  --cc-bg: #121212;

  --widget-background: #1a1a1a;
  --noti-bg-alpha: 1;

  --padding: 8px;
  --border: 1px solid rgba(255,255,255,0.07);
}

.control-center {
  border-radius: 0;
  background: #121212;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: 0;
  padding: var(--padding);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--padding);
}

.notification-group {
  border-radius: 0;
  padding: 4px;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 3px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(4px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(255,255,255,0.05);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}