* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, sans-serif; 
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6); 
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background: #1c1c1c;
    color: #ffffff;
}

#window {
    margin: 0 20px;
}

#custom-gpuinfo, #cpu, #memory, #battery, #network, #pulseaudio, #clock, #tray {
    padding: 0 10px;
    background: transparent;
}

#battery.warning { color: orange; }
#battery.critical { color: red; }

#tray menu {
    background: #282a36;
    color: #f8f8f2;
}
